.container
{
    margin: 50px 0;
}

.cards
{
    margin: 0 2% !important
}

.infected
{
    border-bottom: 10px solid rgba(0, 0, 255);
}

.recovered
{
    border-bottom: 10px solid rgba(0, 255, 0);
}

.deaths
{
    border-bottom: 10px solid rgba(255, 0, 0);
}

@media(max-width:770px)
{
    .cards
    {
        margin: 2% 0!important;
        box-shadow:  4px 4px rgb(95, 91, 91)
    }
}